<div class="home_filter">
    <form">
        <input type="text" name="search" placeholder="Search" />
        <input type="text" name="gradeMin" placeholder="grade min" />
        <input type="text" name="gradeMax" placeholder="grade max" />
        <button>Filter</button>
    </form>
</div>
