<header class="header">
  <div class="header__links">
    <a class="header__logo" href="/">Rarhica</a>
    <a class="header__link" href="/feedback">Feedback</a>
    <a class="header__link" href="/administration">Administration</a>
    <a class="header__link" href="/login">Login</a>
  </div>
  <input type="text" placeholder="Какой ваш любимы рецепт?">
</header>
