<header class="header">
  <a class="header__logo" href="/">Rarhica</a>
  <a class="header__link" href="/feedback">feedback</a>
  <a class="header__link" href="/administration">administration</a>
  <a class="header__link" href="/registration">registration</a>
</header>
