<div class="popup">
  <div class="popup__status"></div>
  <div class="popup__happened"></div>
  <div class="popup__message"></div>
</div>

<!-- <script>
  const showPopup = (status, responseText) => {
    $(".popup__status").html(status);
    $(".popup__message").html(responseText);

    $(".popup").css("left", 0);
    setTimeout(() => {
      $(".popup").css("left", "-340px");
    }, 2000);
  };
</script> -->
