<div class="topRecipes">
    <div class="topRecipes__title">
      Топ популярных блюд
    </div>

    <div class="topRecipes__items">
        <div class="topRecipes__items__item">
            <div>name</div>
            <img src="https://www.povarenok.ru/data/cache/2016sep/16/12/1709205_60985-710x550x.jpg" alt="">
          </div>
      
          <div class="topRecipes__items__item">
            <div>name</div>
            <img src="https://www.povarenok.ru/data/cache/2016sep/16/12/1709205_60985-710x550x.jpg" alt="">
          </div>
          
          <div class="topRecipes__items__item">
            <div>name</div>
            <img src="https://www.povarenok.ru/data/cache/2016sep/16/12/1709205_60985-710x550x.jpg" alt="">
          </div>
          
          <div class="topRecipes__items__item">
            <div>name</div>
            <img src="https://www.povarenok.ru/data/cache/2016sep/16/12/1709205_60985-710x550x.jpg" alt="">
          </div>
    </div>
</div>