<!DOCTYPE html>
<html lang="en">
  <%- include('components/head') %>

  <body>
    <%- include('components/header', { role, login }) %>
    <h1>About</h1>

    <div class="about">
      <div>Приветствуем на проекте <a href="/home">Rarhica</a>!</div>
      <div>
        Здесь вы можете ознакомиться с рецептами о которых вы даже не
        подозревались
      </div>
      <div>
        Они собраны специально для наших пользователей, и вы можете легко и
        просто оценить рецепт
      </div>
      <div>
        Оставляйте комментарии к рецептам. Возмжно вы знаете, что лучше может
        подойти по вкусу!
      </div>
      <div>
        Вы можете добавлять и редактировать свои рецепты в
        <a href="/login">личный кабинет</a>
      </div>
      <div>Администраторы тщательно фильтруют рецепты для вашего удобства</div>
      <button><a href="/login">Сделаем этот мир вкуснее!</a></button>
    </div>
    <%- include('components/footer') %>
  </body>
</html>
