<!DOCTYPE html>
<html lang="en">
  <%- include('components/head') %>
  <body>
    <%- include('components/popup') %> <%- include('components/header', {
    role,login }) %>

    <div class="feedback">
      <h1>Feedback</h1>

      <form class="feedbackForm">
        <input type="text" placeholder="Имя" name="name" />
        <input type="text" placeholder="Фамилия" name="surname" />
        <input type="text" placeholder="Номер телефона" name="phone" />

        <textarea
          placeholder="Раскажите о чем вы думаете"
          name="comment"></textarea>
      </form>

      <input type="button" value="Отправить" />
    </div>

    <%- include('components/footer') %>
  </body>

  <script>
    $("input[type='button']").on("click", () => {
      $.ajax({
        url: "/feedback",
        type: "POST",
        data: $(".feedbackForm").serialize(),
        // success: () => {
        //   window.location.href = "/";
        // },
        error: (err) => {
          showPopup(err.status, err.responseText, "red");
        },
      });
    });
  </script>
</html>
