@import url(./components/main.css);
@import url(./administration.css);
@import url(./error.css);
@import url(./feedback.css);
@import url(./home.css);
@import url(./login.css);
@import url(./profile.css);
@import url(./createRecipe.css);
@import url(./recipe.css);
@import url(./viewprofile.css);


:root{
    --global-margin: 0 13%;
}
*{
  margin: 0;
  padding: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* & > *{
        align-self: center;
        margin: var(--global-margin);
    }
    & > .header, .footer{
        margin: 0;
        padding: var(--global-margin);
    } */

    & > *:not(.header):not(.footer):not(.popup){
        align-self: center;
        margin: var(--global-margin);
    }
    & > .header, .footer{
        padding: var(--global-margin);
    }
}