.profile{
  width: calc(100% - 26%);


  & > .profile__recipes{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */;
    justify-content: space-evenly;

    & > .profile__recipes-recipe{
      flex: 1;
      margin: 20px;
      border-radius: 32px;

      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;

      & > *{
        flex: 1;

      }

      & > img{
        width: 100px;
        height: 100px;
        border-radius: 32px;
      }

      & > .recipe__info{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > *{
          justify-content: center;
          align-items: center;
          flex: 1;
          width: 100%;
        }

        & > .recipe__info__name{
          width: 110px;
          height: 110px;
          font-size: 24px;
          font-weight: 900;
        }
      }
    }
    & > .profile__recipes-comment{
      background-color: red;
      margin: 0 20px;
      padding: 10px;
      border-radius: 8px;
    }
  }
}